<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i>
                    <span>Usuários</span>
                    <span class="pull-right-container">
                    <span class="label label-primary pull-right"></span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Listar</a></li>
                    <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Novo Usuário</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i>
                    <span>Ticket</span>
                    <span class="pull-right-container">
                    <span class="label label-primary pull-right"></span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Listar</a></li>
                    <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Novo Ticket</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i>
                    <span>Resumo</span>
                    <span class="pull-right-container">
                    <span class="label label-primary pull-right"></span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Visualizar</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
